

# IntelliJ project files
.idea
*.iml
out
*.coverprofile
gen### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
/example/ca/resource/IssuerRevocationPublicKey
/example/ca/resource/fabric-ca-server.db
/example/ca/resource/IssuerPublicKey
/example/ca/resource/msp/
/example/genesis/
/example/test/
/example/league.com/orderer3.example3.com/
/example/league.com/org3.example3.com/
/example/league.com/orderer1.example1.com/
/example/league.com/orderer2.example2.com/
/example/league.com/chaincode/
/example/league.com/org1.example1.com/
/example/league.com/org2.example2.com/
/example/league.com/crypto-config/
/example/league.com/channel-artifacts/
